body {
  background-image: url("./assets/HARRY.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
h1, h2, h3{
  color: aliceblue;
}

.character-list{
  background-image: url("./assets/book.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.search-section, header{
  text-align: center;
}
button{
  text-align: center;
}
